<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>portfolio</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-Type-Heading.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/icon-star-full.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-with-rotating-cards.css' %}">
</head>

<body>
    <div style="background-image: url(&quot;/static/assets/img/code5.png&quot;);height: 238px;background-position: center;background-size: cover;background-repeat: no-repeat;filter: blur(0px);">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 10px;width: 0%;position: absolute;left: 0;height: inherit;background: rgba(38,38,38,0.53);"></div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #333333;">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="color: rgba(255,255,255,0.9);font-family: Lato, sans-serif;"><strong>Arttu Heikura</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2" data-bss-hover-animate="pulse" style="border-color: rgba(255,255,255,0.5);background: #f0f9ff;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navcol-2">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/" style="color: rgba(169,169,169,0.9);font-family: Lato, sans-serif;"><strong>Home</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="/cv" style="color: rgb(255,255,255);font-family: Lato, sans-serif;"><strong>CV</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact" style="color: rgb(255,255,255);font-family: Lato, sans-serif;"><strong>Contact</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <footer class="footer-basic" style="background: #222222;">
        <div class="social"><a href="https://github.com/Artoiss"><i class="icon ion-social-github" data-bss-hover-animate="bounce" style="color: rgb(255,255,255);"></i></a><a href="https://www.linkedin.com/in/arttu--heikura/"><i class="icon ion-social-linkedin" data-bss-hover-animate="bounce" style="color: rgb(255,255,255);"></i></a><a href="https://stackoverflow.com/users/11823822/artoiss"><i class="fab fa-stack-overflow" data-bss-hover-animate="pulse" style="color: rgb(255,255,255);"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/" style="color: rgb(255,255,255);">Home</a></li>
            <li class="list-inline-item" style="color: rgb(255,255,255);"><a href="/cv" style="color: rgb(255,255,255);">CV</a></li>
            <li class="list-inline-item" style="color: rgb(255,255,255);"><a href="/contact" style="color: rgb(255,255,255);">Contact</a></li>
        </ul>
        <p class="copyright">Arttu Heikura © 2021</p>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/Animated-Type-Heading.js' %}"></script>
</body>

</html>
