img {
  height: 192px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: rgb(238,174,202);
  background: linear-gradient(0deg, rgba(238,174,202,1) 28%, rgba(148,187,233,1) 51%, rgba(180,208,240,1) 66%, rgba(206,224,245,1) 76%, rgba(255,255,255,1) 84%);
}

